body{
    font-family: 'JetBrains Mono';font-size: 22px;

    background-color: whitesmoke;
    font-size: 30px;
}

h1{
	color: purple;
}

a{
    text-decoration: none;
    color: purple;
    size: 22px;
  
    

}



.under-text{
    display: left;
    font-size: 30px;
    color: purple;
}

p{
    color: purple;
    width: 30%;
    float: inline-end;
}

#fr{
    display: inline;
}

#fa{
    padding: 15px;
    background-color: #dddddd;
    border-radius: 10px;
}

